 .u-section-1 {
  background-image: url("../images/ministerio.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1329px;
}

.u-section-1 .u-list-1 {
  width: 1001px;
  margin: 20px auto 0 29px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
  min-height: 199px;
  grid-gap: 21px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  width: 209px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 0 21px 0 45px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 0;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  width: 209px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 0 21px 0 45px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 2px 0;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  width: 209px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 0 21px 0 45px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1185px;
  margin: 22px auto 60px -34px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 861px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 17px 29px;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  margin: 21px auto 0 6px;
}

.u-section-1 .u-form-1 {
  height: 583px;
  width: 518px;
  margin: 62px 21px 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
  font-weight: 400;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  font-size: 1.125rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 861px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 186px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 5px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 5px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 5px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 683px;
  }

  .u-section-1 .u-form-1 {
    width: 431px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 683px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 455px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 321px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 523px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-1 {
    width: 326px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 785px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 494px;
  }
}